.name {
  font-size:120%;
  font-weight: bold;
}
.link {
  font-family: monospace;
}
.role {
  font-weight: bold;
  font-style: oblique;
}
p.noindent {
  text-indent: 0em
}
td p.noindent {
  text-indent: 0em;
  margin-top:0em;
}
a img {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.centerline {
  text-align:center;
}
td p:first-child {
  margin-top:0em;
}
td p:last-child {
  margin-bottom:0em;
}
table.section td {
  vertical-align:top;
}
td.section {
  padding-right:2em;
  width:20%;
}
table.section {
  margin-top:1em;
}
