/*html {
  overflow-y: scroll;
}*/
body {
  font-size: 13px;
  font-family: Arial, helvetica, sans-serif;
  width: 96%;
  max-width: 920px;
  margin: auto;

  padding: 2%;
  border:2px solid;
  border-radius:25px;
}
a {
  text-decoration: none;
  color: rgb(50, 95, 105);
  opacity: 1;
}
a:hover {
  text-decoration: underline;
}
p {
  line-height: 1.4em;
}
aside {
  font-size: 0.9em;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
/* Structure */
#main {
  width: 60%;
  margin-right: 5%;
  float: left;
}
aside {
  margin-top: 5%;
  width: 35%;
  float: right;
}
/* Header */
header h1 {
  color: #47838F;
  margin: 0;
  padding: 0 0 0 2%;
  font-weight: 100;
  font-size: 25px;
}
header h2 {
  padding: 0 0 0 2%;
  margin: 0;
  color: #18464F;
  font-weight: 100;
}
/* Nav */
header nav {
  background-color: LightBlue;
  margin-top: 5px;
}
header nav li {
  display: inline-block;
  margin-left: 15px;
}
#skipTo {
  display: none;
  border-radius:25px;
}
#skipTo li {
  background: #b1fffc;
  border-radius:25px;
}
#skipTo li a:hover {
  border-radius:25px;
}
header nav ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li a {
  color: black;
  line-height: 30px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}
header nav li {
  margin: 0;
}
header nav ul li a:hover {
  color: #fff;
  background-color: gray;
}

.active {
  color: #fff;
  background-color: rgb(0, 169, 192);
}
.center {
  text-align: center;
}
.left-align {
  text-align: left;
}
#contact_wrapper {
  float: left;
  position: relative;
  left: 50%;
}
#contact_info {
  float: left;
  position: relative;
  left: -50%;
}
/* Sidebar */
aside {
  background: #eee;
}
aside h1 {
  line-height: 30px;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  padding: 0 0 0 25px;
  color: #434343;
  background-color: LightBlue;
}
footer {
  clear: both;
}
footer img {
  border:0;
  width:88px;
  height:31px;
}
footer ul {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding-left: 0;
}
footer li {
  display: inline;
  padding: 0 2px;
}
footer li:first-child {
  padding-left: 0;
}
/* Media Queries */
@media screen and (max-width: 480px) {
  #skipTo {
    display: block;
  }
  header nav, #main, aside {
    margin: 0 0 10px;
    width: 100%;
  }
  header nav li {
    margin: 0;
    background: #efefef;
    display: block;
    margin-bottom: 3px;
  }
  header nav a {
    display: block;
    padding: 10px;
    text-align: center;
  }
}
